@model cource_work.Models.Entity.Broute


<h1>Долати маршрут</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Початкова точка</label>
                <input asp-for="StartPoint" class="form-control" />
                <span asp-validation-for="StartPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Кінцева точка</label>
                <input asp-for="EndPoint" class="form-control" />
                <span asp-validation-for="EndPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Довжина</label>
                <input asp-for="RouteLength" class="form-control" />
                <span asp-validation-for="RouteLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

