@model cource_work.Models.Entity.Broute


<h1>Details</h1>

<div>
    <h4>Broute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Початкова точка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPoint)
        </dd>
        <dt class = "col-sm-2">
            Кінцква точка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPoint)
        </dd>
        <dt class = "col-sm-2">
            Довжина маршруту
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteLength)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteId">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
